<h2><%= @user.name %>の最近のemerge</h2>

<table>
<tr><td>日時</td><td></td><td>所用時間</td></tr>
<% @emerges.reverse_each do |emerge| %>
<tr>
  <td><%= emerge.buildtime.to_s(:jp) %></td>
  <td><%= link_to emerge.package.fullname, emerge.package.page %>をemergeしました。</td>
  <td><%= viewDuration(emerge.duration) %></td>
  <td><%= link_to "詳細", emerge.page %></td>
</tr>
<% end %>
</table>
