<h2><%= t(:user_mypage, :user => @user.name.force_encoding("UTF-8")) %></h2>

<%= link_to t(:view_myemerge), url_for(:my_emerges) %>

<h3><%=t(:howto)%></h3>
<ol>
  <li><%= t(:add_overlay_html) %></li>
  <li><%= t(:emerge_gentwoo)%></li>
  <li><%= t(:edit_token_html)%></li>
  <li><%= t(:config_client)%>
    <ul>
      <li>USER: <%= t(:user_desc)%></li>
      <li>TOKEN: <%= t(:token_desc)%></li>
      <li>UPLOAD_LOG: <%= t(:uploadlog_desc)%></li>
      <li>UPLOAG_ERROR_LOG: <%= t(:upload_error_desc)%></li>
    </ul>
  </li>
  <li><%= t(:portage_setting) %>
    <ul>
      <li>PORTAGE_ELOG_CLASSES="log warn error qa"</li>
      <li>PORTAGE_ELOG_SYSTEM="custom:* echo mail"</li>
      <li>PORTAGE_ELOG_COMMAND="/usr/bin/gentwoo '${PACKAGE}' '${LOGFILE}'"</li>
    </ul>
  </li>
  <li><%= t(:justcompile) %></li>
</ol>
