<!DOCTYPE html>
<html>
<head>
  <title>GenTwoo: Social Compiling</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link type="text/css" href="/stylesheets/cupertino/jquery-ui-1.8.13.custom.css"
  	rel="Stylesheet" />
  <link type="text/css" href="/stylesheets/colorbox.css" rel="Stylesheet" />
  <link type="text/css" href="/stylesheets/menu.css" rel="Stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script> 
  <script type="text/javascript" src="/javascripts/jquery-ui-1.8.13.custom.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.colorbox.js"></script>
</head>
<body>

<div style="margin: 0 auto; width: 80%">
<h1>GenTwoo: Social Compiling</h1>
<div id="locales">
<%= link_to "English", "?locale=en" %>
<%= link_to "日本語", "?locale=ja" %>
</div>
<div>
  <ul id="menu" class="blue">
    <li><%= link_to "Dashboard", root_url %>
    <li><%= link_to t(:all_emerge), url_for(:emerges) %></li>
    <%- if current_user -%>
    <li><%= link_to t(:mypage), url_for(:my) %></li>
    <li><%= link_to t(:settings), url_for(:my_settings) %></li>
    <li><%= link_to t(:logout), url_for(:logout) %></li>
    <%- else -%>
    <li><%= link_to t(:login), url_for(:login) %></li>
    <%- end -%>
  </ul>
  <div>
    <%- if current_user -%>    
    <%- else -%>
    <%=t(:start_gentwoo_html)%>
    <%- end -%>
  </div>
</div>

<%= yield %>
</div>

<hr>
<div>
  <%=t(:author)%>: <a href="http://twitter.com/naota344">@naota344</a>
</div>
</body>
</html>
