<table>
<tr>
  <td><%=t :datetime %></td><td></td><td><%=t :duration %></td>
  <%- if defined? mypage and mypage -%>
  <td></td>
  <%- end -%>
</tr>
<% emerges.each do |emerge| %>
<%- if emerge.duration == 0 -%>
<tr style="background: #FFAAAA">
<%- else -%>
<tr>
<%- end -%>
  <td><%= emerge.buildtime.to_s(:jp) %></td>
  </td>
  <td>
    <img src="<%= emerge.user.image %>" style="vertical-align: middle" />
    <%- if needuser -%>
    <%= t(:useremerged_html, :user => 
                        link_to(emerge.user.name.to_s.force_encoding("UTF-8"), emerge.user)) %>
    <%- end -%>
    <%- if emerge.duration == 0 -%>
    <%= t :emergefailed_html, :link => emerge.package.page, :pkg => emerge.package.fullname %>
    <%- else -%>
    <%= t :emergedone_html, :link => emerge.package.page, :pkg => emerge.package.fullname %>
    <%- end -%>
  </td>
  <td>
    <%- if emerge.duration == 0 -%>
    <%= t  :failed %>
    <%- else -%>
    <%= viewDuration(emerge.duration) %>
    <%- end -%>
  </td>
  <td><%= link_to t(:detail), emerge, :class => "detail" %></td>
  <%- if defined? mypage and mypage -%>
  <td>
    <%= link_to t(:remove), 
                  :action => "remove", :id => emerge %>
  </td>
  <%- end -%>
</tr>
<% end %>
</table>
