<%= form_for(@emerge) do |f| %>
  <% if @emerge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emerge.errors.count, "error") %> prohibited this emerge from being saved:</h2>

      <ul>
      <% @emerge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :buildtime %><br />
    <%= f.datetime_select :buildtime %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :package %><br />
    <%= f.text_field :package %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
