<%- if current_user -%>    
<p>
  ようこそ<%= current_user.name =%>さん! 今日もコンパイルしてますか!?</br>
  <a "/my/settings">まとめてつぶやく機能</a>が追加されました。設定してみてはいかがですか?
</p>
<% end %>

<div id="topheader">
  <div style="float:left; width: 30%;">
    <h3>最近人気のpackage</h3>
    <table>
      <tr><td>回数</td><td>package</td></tr>
      <% @poppkg.each do |pkg| %>
      <tr>
	<td><%= pkg.cnt %></td>
	<td><%= link_to pkg.fullname, pkg.page %></td>
      </tr>
      <% end %>
    </table>
    <a href="/poppackage">もっと見る ...</a>
  </div>

  <div style="float:left; width: 30%;">
    <h3>最近よくemergeしている人</h3>
    <table>
      <tr><td>回数</td><td></td></tr>
      <% @popperson.each do |p| %>
      <tr>
	<td><%= p.cnt %></td>
	<td>
	  <img src="<%= p.profile_image_url %>" style="vertical-align: middle" />
	  <%= link_to p.name, p.link %>
	</td>
      </tr>
      <% end %>
    </table>
  </div>

  <div style="float:left; width: 30%;">
    <h3>最近のコメント</h3>
    <table>
      <% @recentcomments.each do |comment| %>
      <tr>
	<td>
	  <img src="<%= comment.user.profile_image_url %>" style="vertical-align: middle" />
	</td>
	<td>
	  <%= comment.created_at.to_s(:jp) %>
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <%= comment.commentable.fullname %>
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <%= link_to comment.content, comment.page %>
	</td>
      </tr>
      <% end %>
    </table>
  </div>

  <div style="clear:both"></div>
</div>

<script>
  $(function() {
    $( "#tabs" ).tabs({
      ajaxOptions: {
        error: function( xhr, status, index, anchor ) {
          $( anchor.hash ).html(
            "読みこみに失敗しました。 ");
        }
      }
    });
  });
</script>

<%= render(:partial => "detailview" ) %>

<div id="tabs" style="margin-top: 30px">
  <ul>
    <li><a href="#tabs-1">最近のemerge</a></li>
    <li><a href="#tabs-2">最近のエラーが出たemerge</a></li>
  </ul>
  <div id="tabs-1">
    <%= render(:partial => "emerges",
    :object => @emerges,
    :locals => {:needuser => true}) %>
    <a href="emerges/">もっと見る ...</a>
  </div>
  <div id="tabs-2">
    <%= render(:partial => "emerges",
    :object => @erremerges,
    :locals => {:needuser => true}) %>
  </div>
</div>
