<%- if current_user -%>    
<p>
  <%= t(:welcome_user, :user => current_user.name.force_encoding("UTF-8")) %>
</p>
<% end %>

<div id="topheader">
  <div style="float:left; width: 30%;">
    <h3><%= t(:recentpop) %></h3>
    <table>
      <tr><td><%= t(:times) %></td><td>package</td></tr>
      <% @poppkg.each do |pkg| %>
      <tr>
	<td><%= pkg.cnt %></td>
	<td><%= link_to pkg.fullname, pkg.page %></td>
      </tr>
      <% end %>
    </table>
    <%= link_to t(:more), url_for(:poppackage) %>
  </div>

  <div style="float:left; width: 20%;">
    <h3><%= t(:popuser) %></h3>
    <table>
      <tr><td><%= t(:times) %></td><td></td></tr>
      <% @popperson.each do |p| %>
      <tr>
	<td><%= p.cnt %></td>
	<td>
	  <img src="<%= p.image %>" style="vertical-align: middle" />
	  <%= link_to p.name.to_s.force_encoding("UTF-8"), p %>
	</td>
      </tr>
      <% end %>
    </table>
  </div>

  <div style="float:left; width: 30%;">
    <h3><%= t(:recent_comment)%></h3>
    <table>
      <% @recentcomments.each do |comment| %>
      <tr>
	<td>
	  <img src="<%= comment.user.image %>" style="vertical-align: middle" />
	</td>
	<td>
	  <%= comment.created_at.to_s(:jp) %>
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <%= comment.commentable and comment.commentable.fullname %>
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <%= link_to(comment.content.to_s.force_encoding("UTF-8"), url_for(comment.commentable)+"#comment_" + comment.id.to_s.force_encoding("UTF-8")) %>
	</td>
      </tr>
      <% end %>
    </table>
    <%= t(:rss_html) %>
  </div>

  <div style="float:left; width: 9%;">
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 6000,
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#356AA0',
      color: '#ffffff'
    },
    tweets: {
      background: '#DEEDF7',
      color: '#000000',
      links: '#000000'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('GenTwoo').start();
    </script>
  </div>

  <div style="clear:both"></div>
</div>

<script>
  $(function() {
    $( "#tabs" ).tabs({
      ajaxOptions: {
        error: function( xhr, status, index, anchor ) {
          $( anchor.hash ).html(
            <%= t(:loadfailed_html) %> );
        }
      }
    });
  });
</script>

<%= render(:partial => "detailview" ) %>

<div style="margin-top: 30px">
  <div id="tabs" style="">
    <ul>
      <li><a href="#tabs-1"><%=t(:recent_emerge)%></a></li>
      <li><a href="#tabs-2"><%=t(:recent_failedemerge)%></a></li>
    </ul>
    <div id="tabs-1">
      <%= render(:partial => "emerges",
      :object => @emerges,
      :locals => {:needuser => true}) %>
      <%= link_to t(:more), url_for(:emerges) %>
    </div>
    <div id="tabs-2">
      <%= render(:partial => "emerges",
      :object => @erremerges,
      :locals => {:needuser => true}) %>
    </div>
  </div>
  <div style="clear:both"></div>
</div>
