<h2><%= @pkgs.first.category %>/<%= @pkgs.first.name %></h2>
<script>
  $(function() {
    $(".detail").colorbox({width: "75%", height: "75%", iframe: true});
  });
</script>

<% @pkgs.each do |pkg| %>
<h3><%= pkg.version %></h3>
<%= average(pkg) %>
<%= render(:partial => "emerges",
           :object => pkg.emerge.order("buildtime DESC"),
           :locals => {:needuser => true}) %>
<% end %>
