<div >
  <h2><%=t(:recentpop)%></h2>
  <div style="text-align:right">
    <%- if @prevpage -%>
    <%= link_to t(:toupper_page), url_for(:poppackage, page => @prevpage) %>
    <%- end -%>
    <%- if @nextpage -%>
    <%= link_to t(:tolower_page), url_for(:poppackage, page => @nextpage) %>
    <%- end -%>
  </div>

  <table>
    <tr><td><%=t(:rank)%></td><td><%=t(:times)%></td><td>package</td></tr>
    <% @poppkg.each_with_index do |pkg, i| %>
    <tr>
      <td><%= @basecount+i+1 =%></td>
      <td><%= pkg.cnt %></td>
      <td><%= link_to pkg.fullname, pkg.page %></td>
    </tr>
    <% end %>
  </table>

  <div style="text-align:right">
    <%- if @prevpage -%>
    <%= link_to t(:toupper_page), url_for(:poppackage, page => @prevpage) %>
    <%- end -%>
    <%- if @nextpage -%>
    <%= link_to t(:tolower_page), url_for(:poppackage, page => @nextpage) %>
    <%- end -%>
  </div>
</div>
