<h2><%= @emerge.user.name %>のemerge</h2>

<p>
  <%= @emerge.buildtime.to_s(:jp) %>に
  <%- if @emerge.duration == 0 -%>
  <%= link_to @emerge.package.fullname, @emerge.package.page %>のビルドに失敗した。
  <%- else -%>
  <%= viewDuration(@emerge.duration) %>で
  <%= link_to @emerge.package.fullname, @emerge.package.page %>をビルドした
  <%- end -%>
</p>
<p>
  <a href="/emerges/<%= @emerge.id %>#comments" target="_top">コメント</a>
</p>

<script>
  $(function() {
    $( "#tabs" ).tabs({
      ajaxOptions: {
        error: function( xhr, status, index, anchor ) {
          $( anchor.hash ).html(
            "読みこみに失敗しました。 ");
        }
      }
    });
  });
</script>

<div id="tabs" style="">
  <ul>
    <li><a href="#tabs-1">ログ</a></li>
    <li><a href="/emerges/ajaxerrorlog/<%= @emerge.id %>">エラーログ</a></li>
  </ul>
  <div id="tabs-1">
    <textarea style="width: 100%; height: 330px" readonly="true">
      <%= @emerge.log %>
    </textarea>
  </div>
</div>

<%- if @showcomment -%>
<a name="comments"></a>
<div style="margin-top: 30px">
  <h3>コメント</h3>
  <div>
    <% @comments.each do |comment| %>
    <a name="comment_<%= comment.id %>"></a>
    <div style="border-style: outset; border: 1">
      <img src="<%= comment.user.profile_image_url %>" style="vertical-align: middle" />
      <%= comment.user.name %> <%= comment.created_at.to_s(:jp) %><br/>
      <div>
	<%= simple_format comment.content %>
      </div>
    </div>
    <% end %>
  </div>
  <div>
    <h4>コメントを書く</h4>
    <%- if current_user -%>
    <%= form_for([@emerge, @emerge.comments.build]) do |f| %>
    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
    <%- else -%>
    コメントを書くには<a href="/login">Twitterでログイン</a>してください。
    <%- end -%>
  </div>
</div>
<%- end -%>
