<h2><%= @emerge.user.name %>のemerge</h2>

<p>
  <%= @emerge.buildtime.to_s(:jp) %>に
  <%= viewDuration(@emerge.duration) %>で
  <%= link_to @emerge.package.fullname, @emerge.package.page %>をビルドした
</p>

<%= link_to '戻る', emerges_path %>
