<h2><%= @emerge.user.name %>のemerge</h2>

<p>
  <%= @emerge.buildtime.to_s(:jp) %>に
  <%- if @emerge.duration == 0 -%>
  <%= link_to @emerge.package.fullname, @emerge.package.page %>のビルドに失敗した。
  <%- else -%>
  <%= viewDuration(@emerge.duration) %>で
  <%= link_to @emerge.package.fullname, @emerge.package.page %>をビルドした
  <%- end -%>
</p>

<script>
  $(function() {
    $( "#tabs" ).tabs({
      ajaxOptions: {
        error: function( xhr, status, index, anchor ) {
          $( anchor.hash ).html(
            "読みこみに失敗しました。 ");
        }
      }
    });
  });
</script>

<div id="tabs" style="">
  <ul>
    <li><a href="#tabs-1">ログ</a></li>
    <li><a href="/emerges/ajaxerrorlog/<%= @emerge.id %>">エラーログ</a></li>
  </ul>
  <div id="tabs-1">
    <textarea style="width: 100%; height: 330px" readonly="true">
      <%= @emerge.log %>
    </textarea>
  </div>
</div>
