<h2><%=t(:user_recent_emerge, :user => @user.name) %></h2>
<%= render(:partial => "detailview" ) %>

<%= render(:partial => "pagenav",
	   :locals => {:prevpage => @prevpage, :nextpage => @nextpage }) %>
<%= render(:partial => "emerges",
           :object => @emerges,
           :locals => {:needuser => false,
                       :mypage => (current_user == @user)}) %>
<%= render(:partial => "pagenav",
	   :locals => {:prevpage => @prevpage, :nextpage => @nextpage }) %>
